body {
    margin: 0px;
    pading: 0px;
    background: black;
}

.wd-profile-pic {
    border-radius: 24px;
    float: left;
    position: relative;
}

.wd-float-left-tweet {
    padding: 0 0 0 12px;
    float: left;
    position: relative;
}

.wd-max-width-506 {
    max-width: 506px;
}

.wd-grid-row {
    clear: both;
    padding: 12px 0 0 0;
}

.wd-grid-col {
    width: 25%;
    float: left;
}

.wd-bookmark-text {
    max-width: 480px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 12px;
    margin: 0 12px 0 0;
}

.wd-bookmark-image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 12px 12px 0 0;
}

.wd-left-padding-12 {
    padding: 0 0 0 12px;
}

.wd-bottom-padding-5 {
    padding: 0 0 5px 0;
}

.wd-bg-color-black {
    background-color: black;
}

.wd-bg-color-darkgray {
    background-color: darkgray;
}

.wd-color-white {
    color: white;
}

.wd-color-gray {
    color: lightgrey;
}

.wd-color-red {
    color: red;
}

.wd-border {
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    border-style: solid;
}

.wd-padding {
    padding: 12px 16px 12px 16px;
}

.wd-overflow {
    overflow: auto;
}

.wd-font-13 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
}

.wd-font-15 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 15px;
}

.wd-font-20 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
}